body {
  background: #ccc;
}

html,body {
  overflow: hidden;
}
.clouds-container {
  position: absolute;
}

.cloud {
  width: 350px; height: 120px;

  background: #f2f9fe;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  position: relative;
  margin: 120px auto 20px;

}

.cloud:after, .cloud:before {
  content: '';
  position: absolute;
  background: #f2f9fe;
  z-index: -1
}

.cloud:after {
  width: 100px; height: 100px;
  top: -50px; left: 50px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud:before {
  width: 180px; height: 180px;
  top: -90px; right: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.cloud.medium {
    width: 236px;
    height: 107px;
}

.cloud.medium:before {
  width: 107px;
  height: 113px;
  top: -37px;
  right: 33px;
}

.cloud.medium:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 36px;
}
.cloud.small {
  width: 178px;
  height: 84px;
}

.cloud.small:before {
  width: 98px;
  height: 96px;
  top: -42px;
  right: 26px;
}

.cloud.small:after {
  width: 60px;
  height: 60px;
  top: -20px;
  left: 18px;
}

.clouds-container[data-animation-speed="fast"] {
  animation: movecloud 8s ease-in-out infinite;
  -webkit-animation: movecloud 8s ease-in-out infinite;
  -moz-animation: movecloud 8s ease-in-out infinite;
  -o-animation: movecloud 8s ease-in-out infinite;
  -ms-animation: movecloud 8s ease-in-out infinite;
}

.clouds-container[data-animation-speed="normal"] {
  animation: movecloud 13s ease-in-out infinite;
  -webkit-animation: movecloud 13s ease-in-out infinite;
  -moz-animation: movecloud 13s ease-in-out infinite;
  -o-animation: movecloud 13s ease-in-out infinite;
  -ms-animation: movecloud 13s ease-in-out infinite;
}

.clouds-container[data-animation-speed="slow"] {
  animation: movecloud 33s ease-in-out infinite;
  -webkit-animation: movecloud 33s ease-in-out infinite;
  -moz-animation: movecloud 33s ease-in-out infinite;
  -o-animation: movecloud 33s ease-in-out infinite;
  -ms-animation: movecloud 33s ease-in-out infinite;
}

@keyframes movecloud {
  0% { left: 0%; }
  30% {transform: translate(-15%, -35%); opacity: .8; }
  50% { left: 100%; }
  100% { left: 0%; }
}

@-webkit-keyframes movecloud {
  0% { left: 0%; }
  30% {-webkit-transform: translate(-15%, -35%); opacity: .8; }
  50% { left: 100%; }
  100% { left: 0%; }
}

@-moz-keyframes movecloud {
  0% { left: 0%; }
  30% {-moz-transform: translate(-15%, -35%); opacity: .8; }
  50% { left: 100%; }
  100% { left: 0%; }
}

@-o-keyframes movecloud {
  0% { left: 0%; }
  30% {-o-transform: translate(-15%, -35%); opacity: .8; }
  50% { left: 100%; }
  100% { left: 0%; }
}

@-ms-keyframes movecloud {
  0% { left: 0%; }
  30% {-ms-transform: translate(-15%, -35%); opacity: .8; }
  50% { left: 100%; }
  100% { left: 0%; }
}